@font-face {
    font-family: 'Sofia Pro Bold';
    src: url('./Sofia\ Pro\ Bold.ttf');
}
@font-face {
    font-family: 'Sofia Pro Medium';
    src: url('./Sofia\ Pro\ Medium.ttf');
}
@font-face {
    font-family: 'Sofia Pro Light';
    src: url('./Sofia\ Pro\ Light.ttf');
}
@font-face {
    font-family: 'Sofia Pro ExtraLight';
    src: url('./Sofia\ Pro\ ExtraLight.ttf');
}
