.inner {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  @include media-xxl {
    max-width: 932px;
  }
  @include media-l {
    flex-direction: column;
    max-width: 690px;
  }
  @include media-m {
    max-width: 510px;
  }
  @include media-s {
    padding: 0 1.5rem;
    max-width: unset;
  }
}

.page {
  margin: 6rem 0;
  min-height: 57vh;

  @include media-l {
    margin: 3rem 0;
  }
}

.main {
  width: calc(100% - 30rem);
  padding: 0 0 0 3rem;
  border-left: 1px solid $border-color;
  margin: 0 auto;
  @include media-l {
    width: 100%;
    padding: 0;
    border-left: none;
  }
}
