//===COLORS===//

//---rarities---//
$common: #213042;
$uncommon: #156831;
$rare: #12407c;
$epic: #893088;
$legendary: #b89d27;

//--layout--//
$white: #fff;
$gray: #0d202b;
$dark-gray: #0c1c25;
$orange-accent: #d47559;
$textgray: hsla(0, 0%, 100%, 0.54);
$textwhite: hsla(0, 0%, 100%, 0.87);
$border-color: #1b2d33;
$lightblue: #227aad;

//-----tiers----//
$s-tier: #ff7f7f;
$a-tier: #ffbf7f;
$b-tier: #ffdf7f;
$c-tier: #ffff7f;
$d-tier: #bfff7f;
$e-tier: #7fff7f;
