@font-face {
  font-family: 'Sofia Pro Bold';
  src: url('~assets/fonts/sofia-pro-bold.ttf');
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('~assets/fonts/sofia-pro-medium.ttf');
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('~assets/fonts/sofia-pro-light.ttf');
}
@font-face {
  font-family: 'Sofia Pro ExtraLight';
  src: url('~assets/fonts/sofia-pro-extralight.ttf');
}
