@font-face {
  font-family: 'Sofia Pro';
  font-weight: 800;
  src: url('~assets/fonts/sofia-pro-bold.ttf');
}
@font-face {
  font-family: 'Sofia Pro';
  font-weight: 600;
  src: url('~assets/fonts/sofia-pro-medium.ttf');
}
@font-face {
  font-family: 'Sofia Pro';
  font-weight: 400;
  src: url('~assets/fonts/sofia-pro-light.ttf');
}
@font-face {
  font-family: 'Sofia Pro';
  font-weight: 300;
  src: url('~assets/fonts/sofia-pro-extralight.ttf');
}
